/*menu section starts*/
@media screen and (max-width:767px){
	.navbar-brand {
    	padding: 5px 15px 15px 15px;
	}
	.navbar-toggle{
		margin-top: 4px;
		border-radius: 0px;
	}
	.navbar-default .navbar-nav > li > a{
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border-bottom: 1px solid #e7e7e7;
	}
}
/*section 2 starts*/
@media screen and (max-width: 1199px){
.s2p1 {
    margin-top: 80px;
}
}


@media screen and (max-width: 991px) and (min-width: 768px){
.app-store ul li{
	max-width: 120px;
}
.pay-fun-title span>a>img {
    max-width: 107px
}
.pay-fun-title{
	font-size: 33px;
}
.app-store,.partners {
    margin-top: 20px;
}
.s2p1 {
    margin-top: 55px;
}

}


@media screen and (max-width: 767px){
	.s2p1 {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
	}

.app-store ul li{
	max-width: 130px;
}

.app-store,.partners {
    margin-top: 30px;
}

}


/*s 3 4 5 6 7 starts*/
@media screen and (max-width: 3000px) and (min-width: 1200px){
#section-five .col-sm-5,.s5p2,#section-six .col-sm-7,#section-six .col-sm-5,#section-seven .col-sm-7,#section-seven .col-sm-5{
	margin-top: -120px;
}

}

@media screen and (max-width:1199px) and (min-width: 992px){
	.s4p2 {
    margin-top: 195px;
}

#section-five .col-sm-5,.s5p2,#section-six .col-sm-7,#section-six .col-sm-5,#section-seven .col-sm-7,#section-seven .col-sm-5{
	margin-top: -110px;
}
.s5p1 {
    margin-left: 75px;
    margin-top: 165px;
}
.s6p2 {
    margin-top: 250px;
}
.s7p1 {
    margin-left: 10px;
    margin-top: 160px;
}

}


@media screen and (max-width:991px) and (min-width: 768px){

#section-five .col-sm-5,.s5p2,#section-six .col-sm-7,#section-six .col-sm-5,#section-seven .col-sm-7,#section-seven .col-sm-5{
	margin-top: -70px;
}
	.s4p2 {
    margin-top: 145px;
}
.s5p1 {
    margin-left: 40px;
    margin-top: 105px;
}
.s6p2 {
    margin-top: 175px;
}
.s7p1 {
    margin-left: 10px;
    margin-top: 100px;
}
.s7p1 button {
    padding: 10px 40px;
    margin: 15px 0px 0px 20px;
}
.s4p2 p,.s5p1 p,.s6p2 p,.s7p1 p{
	font-size: 13px;
}

}

@media screen and (max-width:767px){
#section-four{
	margin-top: -60px;
}
#section-five{
	margin-top: 20px;
}
.s4p2 {
    margin-top: 0px;
    text-align: center;
}
.s4p2 p{
	padding-right: 0px;
}
.s5p1{
    margin-top: 25px;
    margin-left: 0px;
    text-align: center;	
}
.s5p1 img {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}
#section-six {
    margin-top: -20px;
}
.s6p2 {
    margin-top: -15px;
    text-align: center;
}
#section-seven {
    margin-top: 40px;
}
.s7p1 img {
    max-width: 137px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.s7p1{
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
}
#section-eight{
	padding-top: 30px;
}

/*section 3 styles*/
.features-3-parts{
	margin-bottom: 50px;
}

}
/*section 8 starts*/
@media screen and (max-width:1199px) and (min-width: 992px){
	.user-p1 p,.user-p2 p,.merchant-p1 p,.merchant-p2 p{
		font-size: 13px;
	}
.product-transaction{
	letter-spacing: -1px;
}

}
@media screen and (max-width:991px) and (min-width: 768px){
	.user-p1 p,.user-p2 p,.merchant-p1 p,.merchant-p2 p{
		font-size: 12px;
	}
	.product-transaction-percentage{
		margin-bottom: 34px !important;
	}
}

@media screen and (max-width:767px) and (min-width: 300px){
	.merchant img{
		margin-top: 40px;
	}
	.product-transaction-percentage{
		margin-bottom: 34px !important;
	}

}
@media screen and (max-width:400px){
	.request-payment{
		font-size: 14px;
	}
}

/*section 9 starts*/
@media screen and (min-width:1500px){
	#section-nine{
		padding: 135px 0;
	}
	#section-nine h1{
		font-size: 35px;
	}

}
@media screen and (max-width:767px){
	#section-nine{
		padding: 40px 0;
	}

}

@media screen and (max-width:767px){
	#section-nine h1{
		font-size: 26px;
		padding: 0 10px;
	}

}
/*footer starts*/
@media screen and (max-width:767px){

	/*about us starts*/

.about-us ul li{
	margin-right: 7px;
}

#footer p{
	text-align: left;
	}
#footer ul li{
	padding-right: 2px;
	padding-left: 2px;
}

}

